*{
    margin: 0px;
    padding: 0%;
}        
        
        /*Visualización general*/
        body {
			background: rgb(97, 97, 97);
            position: relative;
		} /*rgb(59, 27, 104)*/
        header {
			background: rgb(17, 95, 139);
            border-radius: 0px;                       
		} 

        section{
            background: rgb(70, 70, 70);
            
        }

        footer{
            background: rgb(0, 0, 0);
            color: blanchedalmond;
        }

        .contenido-total{
            background: rgba(122, 139, 148, 0.5);
            border-radius: 20px;            
        }
        #contenedores-tablas{
            background-color: rgba(218, 214, 214, 0.959);
            border-radius: 25px;
            border: 1px;
            border-radius: 20px;

        }

        .TituloPrincipal{ 
            color: rgb(255, 255, 255); 
            font-size: 56px;
            height: 100px;
            width: 100%;
        }
        /*  Visualización de textos*/
        .Titulo-Tabla{
            color: rgb(58, 58, 58);
            font-size: 33px;
        }

        .Texto-Tablas{
            color: rgb(0, 0, 0);
           font-size: 21px;
        } 

        p {
 			color: rgb(0, 0, 0);
             font-size: 20px;
		}

        /*objetos*/
        input{
            background:rgb(255, 255, 255);
            width: 230px;
            border: 1px;
            border-radius: 20px;
            border: 5px solid rgba(221, 221, 221, 0.664);
        }
        
        button {
            font-size: 16px;
            
        }

        


      